include *.txt *.rst

include buildout.cfg
exclude buildout.cfg

include .coveragerc
exclude .coveragerc

include tox.ini
exclude tox.ini

include .gitignore
exclude .gitignore

include .travis.yml
exclude .travis.yml

recursive-include docs *.ZPL
recursive-include docs *.txt
recursive-include src *.zcml
